/* General Body and Layout Styles */
html, body {
    width: 100%;               /* Ensure body takes up full viewport width */
    overflow-x: hidden;        /* Hide horizontal overflow */
    margin: 0;                 /* Remove default margins */
    padding: 0;                /* Remove default padding */
    box-sizing: border-box;    /* Include padding and border in the element's total width and height */
    font-family: Arial, sans-serif; /* Set Arial as the default font for the page */
}

*, *::before, *::after {
    box-sizing: inherit;       /* Ensure all elements inherit the box-sizing */
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}

.search-bar input[type="text"] {
    padding: 8px;
    margin-left: 20px;
    width: 300px;
    border: 2px solid black;
    border-radius: 4px;
}

.account-actions a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #4CAF50;
    border-radius: 5px;
}

main {
    flex-grow: 1; /* Allows the main content to expand and push the footer down */
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    margin: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.remove-btn {
    color: white;
    background-color: crimson; /* Red for remove */
}


.checkout-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;           /* Stick footer to the bottom */
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Responsive Styles for Smaller Screens */
@media (max-width: 768px) {
    .search-bar input[type="text"] {
        width: 90%;
        margin: 10px auto;
    }
}
