/* General Body and Layout Styles */
html, body {
    width: 100%;               /* Ensure body takes up full viewport width */
    overflow-x: hidden;        /* Hide horizontal overflow */
    margin: 0;                 /* Remove default margins */
    padding: 0;                /* Remove default padding */
    box-sizing: border-box;    /* Include padding and border in the element's total width and height */
    font-family: Arial, sans-serif; /* Set Arial as the default font for the page */
}

*, *::before, *::after {
    box-sizing: inherit;       /* Ensure all elements inherit the box-sizing */
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}

.search-bar input[type="text"] {
    padding: 8px;
    margin-left: 20px;
    width: 300px;
    border: 2px solid black;
    border-radius: 4px;
}

.account-actions a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #4CAF50;
    border-radius: 5px;
}


h1 {
    text-align: center;
    margin-top: 50px;
    color: black;
    text-decoration: none;
    font-size: 55px;
    letter-spacing: 2px;
}

.container h2 {
    color: black;
    text-decoration: none;
    font-size: 35px;
    font-weight: 500;
    padding-left: 60px;
    letter-spacing: 1px;
}


details{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    color: #4CAF50;
}

summary {
    color: black;
    background-color: #d7d7d7;
    padding: .5em 1.3rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    transition: height 1s ease;
}

summary::-webkit-details-marker {
    display: none;
}

summary:after{
    content: "\002B";
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

details[open] summary:after{
    content: "\00D7";
}

details[open] div{
    padding: .5em 1em;
    padding-left: 50px;
    font-size: 18px;
}


/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
}

/* Responsive Styles for Smaller Screens */
@media (max-width: 768px) {
    .search-bar input[type="text"] {
        width: 90%;
        margin: 10px auto;
    }
}
