/* General Body and Layout Styles */
html, body {
    width: 100%;               /* Ensure body takes up full viewport width */
    overflow-x: hidden;        /* Hide horizontal overflow */
    margin: 0;                 /* Remove default margins */
    padding: 0;                /* Remove default padding */
    box-sizing: border-box;    /* Include padding and border in the element's total width and height */
    font-family: Arial, sans-serif; /* Set Arial as the default font for the page */
}

*, *::before, *::after {
    box-sizing: inherit;       /* Ensure all elements inherit the box-sizing */
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}

.search-bar input[type="text"] {
    padding: 8px;
    margin-left: 20px;
    width: 300px;
    border: 2px solid black;
    border-radius: 4px;
}

.account-actions a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #4CAF50;
    border-radius: 5px;
}

/* Content Styling */
.content {
    color: #4CAF50;
    width: 100%; /* Full width */
    text-align: center; /* Center text alignment */
    padding: 80px;
}

h1 {
    font-size: 3em; /* Large font size for visibility */
    margin: 0 0 20px; /* Space between the header and search bar */
}

.search-input {
    width: 50%; /* Makes the search bar large and easy to notice */
    padding: 15px 20px; /* Adequate padding for ease of use */
    font-size: 1.5em; /* Larger font size for ease of reading */
    border: 2px solid #ccc; /* Subtle border styling */
    border-radius: 5px; /* Rounded corners for a modern look */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;           /* Stick footer to the bottom */
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Responsive Styles for Smaller Screens */
@media (max-width: 768px) {
    .search-bar input[type="text"] {
        width: 90%;
        margin: 10px auto;
    }
}