/* General Body and Layout Styles */
html, body {
    width: 100%;               /* Ensure body takes up full viewport width */
    overflow-x: hidden;        /* Hide horizontal overflow */
    margin: 0;                 /* Remove default margins */
    padding: 0;                /* Remove default padding */
    box-sizing: border-box;    /* Include padding and border in the element's total width and height */
    font-family: Arial, sans-serif; /* Set Arial as the default font for the page */
}

*, *::before, *::after {
    box-sizing: inherit;       /* Ensure all elements inherit the box-sizing */
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}

.search-bar input[type="text"] {
    padding: 8px;
    margin-left: 20px;
    width: 300px;
    border: 2px solid black;
    border-radius: 4px;
}

.account-actions a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #4CAF50;
    border-radius: 5px;
}

/* Login Container & Form Styles */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group:active {
    border-color: #4CAF50;
}

label {
    display: block;
    margin-bottom: 5px;
}

.signup-link {
    margin-top: 20px;
    text-align: center;
}

.signup-link a {
    color: #4CAF50;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

input[type="username"], input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    display: block;            /* Ensure button is centered */
    margin: auto;              /* Center button horizontally */
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;           /* Stick footer to the bottom */
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Responsive Styles for Smaller Screens */
@media (max-width: 768px) {
    .search-bar input[type="text"] {
        width: 90%;
        margin: 10px auto;
    }
}
